---
import SocialButton from '../SocialButton.astro'
---
<div class="flex flex-wrap justify-center">
    <SocialButton icon="/youtube.svg" link="https://www.youtube.com/@zgonzq" alt="Youtube de zGonzq" />
    <SocialButton icon="/github.svg" link="https://www.github.com/zgonzq" alt="Github de zGonzq" />
    <SocialButton icon="/twitch.svg" link="https://www.twitch.tv/zgonzq" alt="Twitch de zGonzq" />
    <SocialButton icon="/twitter.svg" link="https://www.twitter.com/zgonzq" alt="Twitter de zGonzq" />
    <SocialButton icon="/discord.svg" link="https://discord.gg/MFAAW3ahmy" alt="Discord de zGonzq" />
</div>