---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Enma | Discord Bot">
    <main>
        <section class="w-full mx-auto lg:w-[740px] py-44 px-4 lg:px-0">
            <img src="./enma-logo.webp" alt="El logo del bot Enma" class="rounded-full size-40 mx-auto " />
        </section>
    </main>
</Layout>
