---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/icons/Logo.astro";
import RedesBotones from "../components/compuestos/RedesBotones.astro";
import SlideTitle from "../components/FlipWords.astro";
---

<Layout title="zGonzq | Portafolios y Enma Discord Bot">
    <main>
        <section id="intro" class="w-full mx-auto lg:w-[740px] pt-44 px-4 lg:px-0">
            <div>
            <Logo class="justify-center size-40 mx-auto" />
            <div class="flex flex-col items-start">
                <SlideTitle />
                <h1 class="dark:text-white text-black text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold pb-4">¡Hola! Soy Gonzalo </h1>
            </div>
            </div>
            <h2 class="text-sm sm:text-base md:text-lg lg:text-1xl opacity-80 dark:text-white  text-black">
                Estudiante de Analista Programador de la universidad Santo Tomás de Temuco, Chile.
                Titulado de Gráfico de nivel Medio y en constante aprendizaje del área de la programación.
            </h2>
            <RedesBotones />
        </section>

        <section  class="w-full mx-auto lg:w-[740px] py-44 px-4 lg:px-0">
            <h1 id="projects" class="dark:text-white text-black text-2xl sm:text-3xl md:text-4xl lg:text-5xl flex flex-col items-center gap-y-4 pb-4">Proyectos</h1>
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">     
        </section>

    </main>
</Layout>
