<footer class="fixed bottom-0 left-0 z-20 w-full p-4 bg-[#0b1431] border-t border-[#0b1431] shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
    <span class="text-sm text-[#CCCCCC] sm:text-center dark:text-[#CCCCCC]"><a href="https://github.com/zGonzq" class="transition-colors duration-200  hover:text-[#FF00B2]" target="_blank">zGonzq</a> Portafolio | 2024
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-[#CCCCCC] dark:text-[#CCCCCC] sm:mt-0">
        <li>
            <a href="/" class="transition-colors duration-200  hover:text-[#FF00B2] me-4 md:me-6">Sobre mí</a>
        </li>
        <li>
            <a href="https://github.com/zGonzq" class="transition-colors duration-200  hover:text-[#FF00B2] me-4 md:me-6">GitHub</a>
        </li>
        <li>
            <a href="https://discord.gg/MFAAW3ahmy" target="_blank" class="transition-colors duration-200  hover:text-[#FF00B2] me-4 md:me-6">Discord</a>
        </li>
        <li>
            <a href="https://discord.com/api/oauth2/authorize?client_id=1171876289632813148&permissions=8&scope=applications.commands+bot" target="_blank" class="transition-colors duration-200  hover:text-[#FF00B2] me-4 md:me-6">Invitación de Enma</a>
        </li>
    </ul>
</footer>