<footer class="fixed bottom-0 left-0 z-20 w-full p-2 bg-white border-t border-white shadow md:flex md:items-center md:justify-between md:p-4 dark:bg-gray-900 dark:border-gray-900">
    <span class="text-sm sm:text-center text-black dark:text-white flex items-center">
        <img src="/favicon.webp" alt="Web logo zgonzq portafolios" class="size-8 mx-3">
        <a href="https://github.com/zGonzq" class="transition-colors duration-200  hover:text-[#FF00B2] mr-2" target="_blank">zGonzq</a> Portafolio | 2024
    </span>
    <ul class="flex flex-wrap items-center mt-2 text-sm font-medium text-black dark:text-white sm:mt-0">
        <li>
            <a href="/" class="transition-colors duration-200  hover:text-[#FF00B2] me-3 md:me-4">Sobre mí</a>
        </li>
        <li>
            <a href="https://github.com/zGonzq" class="transition-colors duration-200  hover:text-[#FF00B2] me-3 md:me-4">GitHub</a>
        </li>
        <li>
            <a href="https://discord.gg/MFAAW3ahmy" target="_blank" class="transition-colors duration-200  hover:text-[#FF00B2] me-3 md:me-4">Discord</a>
        </li>
        <li>
            <a href="https://discord.com/api/oauth2/authorize?client_id=1171876289632813148&permissions=8&scope=applications.commands+bot" target="_blank" class="transition-colors duration-200  hover:text-[#FF00B2] me-3 md:me-4">Invitación de Enma</a>
        </li>
    </ul>
</footer>