---
---

<header id="header-nav" class="fixed top-0 left-0 right-0 z-50 w-full flex justify-center items-center py-3">

    <nav class="flex flex-col md:flex-row gap-4 md:gap-x-10 opacity-90">
        <a href="/" class="nav-link transition-colors duration-200 hover:text-[#FF00B2]">Inicio</a>
        <a href="/about" class="nav-link transition-colors duration-200 hover:text-[#FF00B2]">Sobre mí</a>
        <a href="/projects" class="nav-link transition-colors duration-200 hover:text-[#FF00B2]">Proyectos</a>
        <a href="/contact" class="nav-link transition-colors duration-200 hover:text-[#FF00B2]">Contacto</a>
        <a href="/enma" class="nav-link transition-colors duration-200 hover:text-[#FF00B2]">Enma</a>
    </nav>
</header>

<script>
    const navLinks = document.querySelectorAll('.nav-link');

    navLinks.forEach(link => {
        if (link.getAttribute('href') === window.location.pathname) {
            link.classList.add('text-[#FF00B2]');
        }
    });
</script>