
<header class="flex justify-center items-center py-3 w-full md:w-[1120px] mx-auto">

    <nav class="flex flex-col md:flex-row gap-4 md:gap-x-10 opacity-90">
        <a href="/">Inicio</a>
        <a href="/about">Sobre mí</a>
        <a href="/projects">Proyectos</a>
        <a href="/contact">Contacto</a>
        <a href="/enma">Enma</a>
    </nav>
</header>