---
import Header from "../components/layoutIndex/Header.astro";
import '@fontsource-variable/onest';
import Footer from "../components/layoutIndex/Footer.astro";
import  SpeedInsights from "@vercel/speed-insights/astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta property="og:url" content="https://gqnza.tech">
		<meta property="og:type" content="website">
		<meta property="og:title" content="zGonzq Portafolio y Enma Discord Bot">
		<meta property="og:description" content="Portafolio de Gonzalo, diseñador gráfico y programador, desarrollador de bots de Discord y fanático de los Videojuegos">
		<meta property="og:image" content="/image.webp">
		<meta name="description" content="Portafolio de Gonzalo, diseñador gráfico y programador, desarrollador de bots de Discord y fanático de los Videojuegos" />
		<meta name="keywords" content="Gonzalo, Gonzalo Leal, Portafolio Gonzalo Leal, Portfolio Gonzalo Leal, zGonzq, Gqnza, zGonzq Github, Gonzalo Github, Gonzalo Portafolio, Gonzalo Portfolio, Gonzalo Web, Gonzalo Web Developer, Gonzalo Web Designer, Gonzalo Web Developer Portfolio, Gonzalo Web Designer Portfolio, Gonzalo Web Developer Portafolio, Gonzalo Web Designer Portafolio, Gonzalo Web Developer Website, Enma, Enma Bot, Enma Discord Bot, Discord bot" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
		<meta content="#F91362" data-react-helmet="true" name="theme-color" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<SpeedInsights />
	</head>
	<body > 

		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
    :root {
        --background-color-light: #ffffff;
        --background-color-dark: #111827; 
    }

    body {
        background-color: var(--background-color-light);
    }

    body.dark {
        background-color: var(--background-color-dark); 
    }
	html {
		
		font-family: 'Onest Variable', sans-serif;
		overflow: auto;
		scrollbar-gutter: stable;
        scroll-behavior: smooth;

	}

	body {
		display: flex;
		flex-direction: column;
		height: 100vh;
	}
	
</style>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const themeToggle = document.getElementById('theme-toggle');
        const sunIcon = document.getElementById('sun-icon');
        
        if (!sunIcon || !themeToggle) {
            return;
        }

        let currentTheme = localStorage.getItem('theme');
        if (!currentTheme) {
            currentTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
            localStorage.setItem('theme', currentTheme);
        }

        if (currentTheme === 'dark') {
            document.body.classList.add('dark');
            sunIcon.classList.remove('text-black');
            sunIcon.classList.add('text-white');
        } else {
            document.body.classList.remove('dark');
            sunIcon.classList.remove('text-white');
            sunIcon.classList.add('text-black');
        }

        themeToggle.addEventListener('click', () => {
            if (document.body.classList.contains('dark')) {
                document.body.classList.remove('dark');
                sunIcon.classList.remove('text-white');
                sunIcon.classList.add('text-black');
                localStorage.setItem('theme', 'light');
            } else {
                document.body.classList.add('dark');
                sunIcon.classList.remove('text-black');
                sunIcon.classList.add('text-white');
                localStorage.setItem('theme', 'dark');
            }
        });

        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
            const newTheme = e.matches ? 'dark' : 'light';
            if (newTheme === 'dark') {
                document.body.classList.add('dark');
                sunIcon.classList.remove('text-black');
                sunIcon.classList.add('text-white');
            } else {
                document.body.classList.remove('dark');
                sunIcon.classList.remove('text-white');
                sunIcon.classList.add('text-black');
            }
            localStorage.setItem('theme', newTheme);
        });
    });
</script>